@model Bhoba.Models.FelonBounty

@{
    ViewData["Title"] = "Details";
}

<h2>Bailbond Details for @Html.DisplayFor(model => model.Felon.FirstName) @Html.DisplayFor(model => model.Felon.LastName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BountyAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BountyAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PoliceReportNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PoliceReportNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CrimeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CrimeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BondClosed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BondClosed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BailBondsman)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BailBondsman.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Felon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Felon.FirstName) @Html.DisplayFor(model => model.Felon.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FelonBountyId" class="btn btn-default btn-sm">Edit</a>
</div>
