@model Bhoba.Models.FelonViewModel.FelonDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details for @Model.Felon.FirstName @Model.Felon.LastName</h2>
<div>
    <a asp-controller="Addresses" asp-action="Create" asp-route-id="@Model.Felon.FelonId" class="btn btn-default btn-sm">Add Address</a>
    <a asp-controller="FelonBounties" asp-action="Create" asp-route-id="@Model.Felon.FelonId" class="btn btn-default btn-sm">Add BailBond</a>
    <a asp-action="Edit" asp-route-id="@Model.Felon.FelonId" class="btn btn-default btn-sm">Edit</a>
    <a asp-action="Index" class="btn btn-default btn-sm">Back to List</a>
</div>
<div>
    <h4>Felon</h4>
    <div class="container">
        <div>
            @*This Div Container contains the Felon's identification information*@
            <div class="col-md-6" style="height: 300px;">
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Felon.FirstName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Felon.FirstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Felon.LastName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Felon.LastName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Felon.DateOfBirth)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Felon.DateOfBirth)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Felon.Alias)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Felon.Alias)
                    </dd>
                </dl>
            </div>
            @*This Div Container contains the google maps showing the addresses*@
            <div id="map" class="col-md-6" style="height: 300px;">
                <img src="http://www.bing.com/sa/simg/maps_opengraph.png" alt="Image result for bing map" width="256" height="256">
            </div>
            @*This Div Container contains the Felon's list of open and closed Bailbonds*@
            <div class="col-md-6">
                <h4>Bailbonds History</h4>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BailBondsmen.Single().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Felon.FelonBounties.Single().BountyAmount)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            Open Bonds
                            @foreach (var item in Model.Felon.FelonBounties)
                            {
                                if (item.BondClosed == false)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BailBondsman.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BountyAmount)
                                        </td>
                                        <td>
                                            <a asp-controller="FelonBounties" asp-action="Edit" asp-route-id="@item.FelonBountyId" class="btn btn-default btn-sm">Edit</a>
                                            <a asp-controller="FelonBounties" asp-action="Details" asp-route-id="@item.FelonBountyId" class="btn btn-default btn-sm">Details</a>
                                            <a asp-controller="FelonBounties" asp-action="Delete" asp-route-id="@item.FelonBountyId" class="btn btn-default btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BailBondsmen.Single().Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Felon.FelonBounties.Single().BountyAmount)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            Closed Bonds
                            @foreach (var item in Model.Felon.FelonBounties)
                            {
                                if (item.BondClosed == true)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BailBondsman.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BountyAmount)
                                        </td>
                                        <td>
                                            <a asp-controller="FelonBounties" asp-action="Edit" asp-route-id="@item.FelonBountyId" class="btn btn-default btn-sm">Edit</a>
                                            <a asp-controller="FelonBounties" asp-action="Details" asp-route-id="@item.FelonBountyId" class="btn btn-default btn-sm">Details</a>
                                            <a asp-controller="FelonBounties" asp-action="Delete" asp-route-id="@item.FelonBountyId" class="btn btn-default btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @*This Div Container contains the Felon's list of known addresses*@
            <h4>Known Addresses</h4>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Addresses.Single().StreetAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Addresses.Single().City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Addresses.Single().State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Addresses.Single().ZipCode)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Addresses)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StreetAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ZipCode)
                                </td>
                                <td>
                                    <a asp-controller="Addresses" asp-action="Edit" asp-route-id="@item.AddressId" class="btn btn-default btn-sm">Edit</a>
                                    <a asp-controller="Addresses" asp-action="Details" asp-route-id="@item.AddressId" class="btn btn-default btn-sm">Details</a>
                                    <a asp-controller="Addresses" asp-action="Delete" asp-route-id="@item.AddressId" class="btn btn-default btn-sm">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@******Using an @section to run the script solely on this view that needs it. *@
@section Scripts{
    <script>
        var listOfLocations = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.listOfAvm))
    </script>
    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>*@
    <script src="~/js/map.js" asp-append-version="true"></script>
}